.table {
  width: 100%;
  background: #ffffff;
  border-radius: 4px;

  th , td {
    padding: 10px 20px;
    text-align: left;
  }

  th {
    // border-bottom: 1px solid #d1d1d1;
  }
  tr {
    border: 1px solid #d1d1d1;
  }
}