.item {
  width: 100%;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 5px;

  .dropdown-control {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .three-dot {
    font-size: 20px;
    font-weight: 600;
  }

  .thumbnail {
    min-width: 200px;
  }

  .left {
    max-width: calc(100% - 250px);
    width: calc(100% - 250px);
  }
}