$z-index-sidebar: 1010;
$z-index-page-sidebar: 1000;
$z-index-dropdown: 1100;
$z-index-sidebar-mobile: 1200;
$z-index-navbar: 1200;
$z-index-sticky-panel: 1200;
$z-index-modal-backdrop: 2040;
$z-index-modal: 2050;
$z-index-modal: 2050;
$z-index-loader-backdrop: 9999;
