.sub-menu {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 16px;
  color: rgba(0,0,0,.54);
  background: #ffffff;
  height: 70px;

  &.stand-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .categories {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    // max-width: 98%;

    &--item {
      padding: 0 20px;
      text-transform: uppercase;

      &:first-child {
        margin-left: -20px;
      }
    }
  }
}