/* stylelint-disable */
.perfect-scrollbar-wrap {
  // force no scroll-bar in mobile
  @media only screen and (max-width: $mq-mobile-max) {
    max-height: none !important;
  }
}

.ps__thumb-y {
  width: 6px !important;
  right: 0 !important;
  background-color: $color-gray-4 !important;
  cursor: pointer;
}

perfect-scrollbar > .ps {
  height: auto !important;
}

perfect-scrollbar > .ps.ps--active-y > .ps__rail-y {
  width: 0px !important;
}

perfect-scrollbar > .ps.ps--active-y > div.ps__rail-y {
  right: 0px !important;

  .modal-dialog & {
    right: 3px !important;
  }
}

perfect-scrollbar.perfect-scrollbar-wrap.vertical-space > .ps.ps--active-y > div.ps__rail-y {
  right: 3px !important;
}

perfect-scrollbar > .ps.ps--active-y > .ps__rail-y:hover,
perfect-scrollbar > .ps.ps--active-y > .ps__rail-y.ps--clicking {
  width: 0px !important;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  width: 6px !important;
}

.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-y,
.ps--scrolling-y > .ps__rail-y {
  opacity: 1 !important;
}
